@media (min-width: 480px) and (max-width: 1024px){
    .container{
        max-width: 80%;
        padding: 0 25px;
    }
    .promo{
        background: url('../../image/promo_background.jpg') center (left/cover) no-repeat;
    }
    .consultation{
        padding: 30px 30px;
        background: url('../../image/consultation_background.jpg') no-repeat right -600px top;
        &__descr{
            text-align: center;
        }
    }
    .title{
        font-size: 25px;
        &_white{
            text-align: center;
        } 
    }
    .feed-form{
        margin: 0 auto;
        margin-top: 50px;
    }
}
@media (max-width: 767px) {
    .promo__wrapper{
        align-items: center;
    }
    .advantages{
        &__elements{
            flex-direction: column;
            align-items: center;
        }
        .advantages__item{
            margin-top: 30px;
        }
    }
    .carousel{
        .owl-carousel{
            width: 550px;
            .owl-prev, .owl-next{
                display: none;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .header{
        flex-direction: column;
        &__official{
            margin-top: 20px;
        }
        &__phone{
            margin-top: 20px;
        }
    }
    .promo{
        background: url('../../image/promo_background.jpg') no-repeat;
        background-position: left -230px top;
        padding: 21px 0;
        &__wrapper{
            margin-top: 60px;
        }
        &__header{
            font-size: 30px;
        }
        &__subheader{
            font-size: 18px;
        }
        &__icons{
            margin-top: 40px;
            .promo__icon{
                margin-left: 10px;
            }
        }
    }
    .button_main {
        margin-top: 45px;
    }
    .advantages{
        padding: 50px 0;
    }
    .consultation{
        padding: 30px 30px;
        background: url('../../image/consultation_background.jpg') no-repeat right -600px top;
        &__descr{
            text-align: center;
        }
    }
    .title{
        font-size: 25px;
        &_white{
            text-align: center;
        }
    }
    .feed-form{
        margin: 0 auto;
        margin-top: 50px;
    }
    .carousel{
        .owl-carousel{
            width: 400px;
        }
    }
    .catalog{
        padding-bottom: 100px;
        &__tabs{
            flex-direction: column;
            margin-top: 30px;;
        }
        &__tab{
            margin-bottom: 15px;
        }
        &__content{
            margin-top: 30px;
            justify-content:space-around;
        }
    }
}
