.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #0D0D0D;
    text-transform: uppercase;
    &_white{
        color: #fff;
        margin-top: 0;
        text-align: left;
    } 
}